.mt20 {
  position: relative;
  margin-top: 20px;
}

.more {
  position: absolute;
  top: 20px;
  right: 0;
  width: 60px;
  height: 22px;
  line-height: 22px;
  color: #aaa;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.chemical-right ul li h4 a {
  color: #555;
}

.chemical-right ul li h4 a:hover {
  color: #3287f1;
}

ul.list {
  position: absolute;
  width: 212px;
  height: 400px;
  background: rgba(27, 35, 45, .8);
}

.list>li:hover {
  background: #fff;
}

.list>li:nth-last-child(1):hover {
  height: 50px;
  border-bottom: 2px solid #287adf;
}

ul.list li:hover dl ul li {
  z-index: 1200;
  display: block;
}

.list>li>dl {
  width: 170px;
  width: 170px;
  height: 57px;
  margin: 0 15px;
  /* overflow: hidden;*/
  border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}

.list dl dt {
  width: 170px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.list>li>dl>dt>a {
  display: inline-block;
  width: 170px;
  height: 20px;
  padding-top: 7px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-overflow: clip;
  white-space: nowrap;
  vertical-align: middle;
}

.list dl dd {
  height: 22px;
  margin: 5px 0;
  line-height: 22px;
}

.list dl dd a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  vertical-align: middle;
}

.list>li:hover dl dd a {
  color: #666;
}

.list>li:hover dl dt a {
  color: #4496f9;
}

.list>dl dt a:hover {
  color: #4496f9;
}

/* TODO:JS控制 */

.list dl dd a:hover {
  color: #4496f9;
}

.list-content {
  position: relative;
}

ul.list-content>li {
  position: absolute;
  top: -50px;
  left: 197px;
  display: none;
  width: 980px;
  height: 396px;
  background: #fff;
  border-right: 2px solid #287adf;
  border-bottom: 2px solid #287adf;
}

ul.list-content>li.on {
  display: block;
}

ul.list-content li .list-wrapper {
  width: 720px;
  height: 396px;
  overflow-y: scroll;
}

.list-item {
  position: relative;
  z-index: 100;
  width: 700px;
}

.list-item dl {
  position: relative;
  padding-right: 10px;
  padding-left: 135px;
}

.list-item dl dt {
  position: absolute;
  top: 12px;
  left: 0;
  float: left;
  width: 130px;
  width: 130px;
  font-weight: 700;
  text-align: right;
}

.list-item dl dt a {
  font-size: 14px;
  color: #4496f9;
}

.list-item dl dd {
  min-height: 25px;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.list-item dl dd a {
  float: left;
  height: 16px;
  padding: 0 10px;
  margin: 4px 0;
  line-height: 16px;
  color: #666;
  white-space: nowrap;
  border-left: 1px solid #e0e0e0;
}

.list-content .list-wrapper .list-item dl dd a:hover {
  color: #4496f9;
}

.list-goods {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
  width: 240px;
  width: 240px;
  height: 376px;
  padding: 9px;
  background: #f7f7f7;
}

.list-goods ul li {
  position: relative;
  left: 0;
  width: 200px;
  height: 190px;
  padding: 0 20px;
  background: #fff;
  border: 0;
}

.list-goods ul li span.price {
  position: absolute;
  top: 52px;
  left: 22px;
  font-size: 16px;
  color: #ff2626;
}

.list-goods ul li a.name {
  position: absolute;
  top: 12px;
  left: 22px;
  width: 196px;
  height: 40px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #7f7f7f;
}

.list-goods ul li a.name:hover {
  color: #4496f9;
}

.list-goods ul li a.link {
  position: absolute;
  right: 20px;
  bottom: 12px;
}
/* banner轮播 */
.carousel {
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0;
}
.carousel ul.img li  {
  position: absolute;
  width: 100%;
  height: 400px;
  overflow: hidden;
  float: left;
}
.carousel ul.doc {
  position: absolute;
  left: 50%;
  bottom: 5px;
}
.carousel ul.doc li {
  display: inline-block;
  margin: 0 5px;
  width:10px;
  height: 10px;
  border:1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: .5;
}
.carousel ul.doc li.active {
  background:#fff;
  opacity: 1;
}
/* 限时抢购 */

.seckill {
  position: relative;
}

.seckill .seckill-head {
  position: relative;
}

.seckill .seckill-head h3 {
  font-size: 32px;
  line-height: 60px;
  color: #333;
}

.seckill .seckill-head .kicon-shijian {
  margin-right: 5px;
  font-size: 35px;
  font-weight: 700;
  color: #ff7422;
}

.seckill .seckill-head a {
  position: absolute;
  top: 20px;
  right: 0;
  width: 60px;
  height: 22px;
  line-height: 22px;
  color: #aaa;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.seckill-content {
  padding-bottom: 20px;
  overflow: hidden;
}

.seckill .seckill-content>div {
  float: left;
}

.seckill .seckill-content .seckill-one {
  position: relative;
  width: 450px;
  height: 250px;
  padding: 20px;
  margin-left: 0;
  border: 5px solid #ffd5bc;
}

.seckill .seckill-content .seckill-two {
  width: 333px;
  height: 298px;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #eee;
}

.seckill-content .seckill-one .cont {
  margin-bottom: 5px;
  font-size: 20px;
  color: #999;
}

.seckill-content .seckill-one .cut-down {
  width: 260px;
}

.seckill-content .cut-down .tag {
  font-size: 16px;
  color: #999;
}

.seckill-content .time {
  line-height: 30px;
}

.seckill-content .time .t {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #424242;
  border-radius: 4px;
}

.seckill-content .time .t:after {
  position: absolute;
  top: 15px;
  left: 0;
  width: 30px;
  height: 0;
  border-bottom: 1px solid #424242;
  content: "";
}

.seckill-content .time .t.s {
  background: #db1b1b;
}

.seckill-content .time .t.s:after {
  border-bottom: 1px solid #db1b1b;
}

.seckill-content .time.small {
  line-height: 24px;
}

.seckill-content .time.small .t {
  width: 24px;
  height: 24px;
  margin-right: 3px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
}

.seckill-content .time.small .t:after {
  top: 12px;
  width: 24px;
}

.seckill-content .seckill-one .goods-title {
  width: 240px;
  height: 40px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.seckill-one .goods-title a {
  color: #333;
}

.seckill-content .seckill-one .price {
  margin: 8px 0;
  color: #db1b1b;
}

.seckill-content .seckill-one .price {
  font-size: 14px;
  font-weight: 700;
}

.seckill-content .seckill-one .price span.cri {
  font-size: 24px;
}

.seckill-content .seckill-one .ori {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  text-decoration: line-through;
}

.seckill-content .seckill-one .standard {
  position: relative;
  height: 20px;
}

.seckill-content .seckill-one .standard span {
  padding: 0 4px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #3287f1;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #44a0f9;
}

.seckill-content .bar {
  padding-left: 0;
  margin-top: 8px;
  color: #666;
}

.seckill-content .bar p {
  display: inline-block;
  width: 100px;
  height: 10px;
  margin-left: 10px;
  background: #ccc;
}

/* TODO:百分比进度条 */

.seckill-content .bar p span {
  display: block;
  width: 10px;
  height: 10px;
  color: #666;
  background: #ffd800;
}

.seckill-content .seckill-one .buy-now {
  display: block;
  width: 100px;
  height: 30px;
  margin-top: 11px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4496f9;
  border-radius: 2px;
}

.seckill-content div.btn.will:hover div {
  border-right: 30px solid#3287f1;
  border-bottom: 40px solid #3287f1;
}

.seckill-content div.btn.now:hover div {
  border-right: 30px solid#f36a1a;
  border-bottom: 40px solid #f36a1a;
}

.seckill-content .seckill-one .buy-now:hover,
.seckill-content div.btn.will:hover a {
  background-color: #3287f1;
}

.seckill-content div.btn.now:hover a {
  background-color: #f36a1a;
}

.seckill-content .seckill-one .img {
  position: absolute;
  top: 55px;
  right: 20px;
  width: 180px;
  height: 180px;
}

.seckill-content .seckill-one .img a {
  position: relative;
  display: block;
}

.seckill-one .img a img {
  width: 100%;
  height: 100%;
}

.seckill-one .img a>div {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 120px;
  height: 120px;
  font-size: 24px;
  font-weight: 700;
  line-height: 120px;
  color: #fff;
  text-align: center;
  background: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  opacity: .3;
}

/* TODO:seckill-two */

.seckill-two .title a {
  color: #333;
}

.seckill-two .title a:hover {
  color: #4496f9;
}

.seckill-two .cut-down {
  float: right;
  padding: 3px 10px 3px 20px;
  margin: 5px 2px 5px 0;
  background: #eee;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
}

.seckill-two .cut-down .tag {
  font-size: 12px;
}

.seckill-content .seckill-two .img {
  display: block;
  width: 140px;
  height: 140px;
  margin: 40px auto 0;
  text-align: center;
}

.seckill-two .img img {
  position: relative;
  right: 0;
  width: 100%;
  height: 100%;
}

.seckill-content .seckill-two .title {
  display: block;
  padding: 3px 20px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
}

.seckill-content .bottom {
  position: relative;
  bottom: 2px;
  height: 80px;
  margin: 1px;
  background: #eee;
}

.seckill-content .bottom .price {
  position: relative;
  width: 225px;
  padding: 6px 20px 4px;
  color: #db1b1b;
}

.seckill-content .bottom .price span {
  font-size: 12px;
  font-weight: 700;
}

.seckill-content .bottom .price .ori {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  text-decoration: line-through;
}

.seckill-content .seckill-two .standard {
  padding-left: 20px;
  margin-bottom: 5px;
}

.seckill-content .seckill-two .standard span {
  display: inline-block;
  padding: 0 4px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #999;
}

.seckill-content .seckill-two .standard span.active {
  color: #3287f1;
  border-color: #44a0f9;
}

.seckill-content .btn {
  position: absolute;
  top: 0;
  right: 1px;
}

.seckill-content .btn div {
  position: absolute;
  top: 0;
  right: 75px;
  z-index: 200;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 30px solid #ff7422;
  border-bottom: 40px solid #ff7422;
  border-left: 30px solid transparent;
}

.seckill-content div.btn.will>div {
  position: absolute;
  top: 0;
  right: 75px;
  z-index: 200;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 30px solid #4496f9;
  border-bottom: 40px solid #4496f9;
  border-left: 30px solid transparent;
}

.seckill-content .btn a {
  display: inline-block;
  width: 65px;
  height: 80px;
  padding-right: 10px;
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 80px;
  color: #fff;
  text-align: right;
  background: #ff7422;
}

.seckill-content .btn.will a {
  display: inline-block;
  width: 65px;
  height: 80px;
  padding-right: 10px;
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 80px;
  color: #fff;
  text-align: right;
  background: #4496f9;
}

/* 日用化工 */

.chemical {
  padding-bottom: 20px;
}

.chemical-left {
  position: relative;
  float: left;
  width: 230px;
  height: 382px;
  padding: 20px;
  background: url(../images/chemBg1.png);
  box-sizing: border-box;
}

.left-wrapper h3 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.left-wrapper h3:after {
  display: block;
  width: 60px;
  height: 0;
  margin: 10px 0;
  border-bottom: 2px solid #fff;
  content: "";
}

.left-wrapper {
  width: 100%;
  height: 100%;
  padding: 10px 0 0 10px;
  border: 1px solid hsla(0, 0%, 100%, .15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.left-wrapper ul.chemical-list li {
  display: inline-block;
  height: 20px;
  padding: 0 8px;
  margin: 0 20px 20px 0;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
}

.left-wrapper ul.chemical-list li:hover {
  background: #fff;
  border-color: #fff;
}

.left-wrapper ul.chemical-list li a {
  color: #fff;
}

.left-wrapper ul.chemical-list li a:hover {
  color: #4496f9;
}

.left-wrapper>a,
.view-more {
  position: absolute;
  bottom: 30px;
  width: 122px;
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 2px solid #fff;
}

.left-wrapper>a i {
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
}

.left-wrapper>a:hover,
.view-more:hover {
  border-color: hsla(0, 0%, 100%, .6);
}

.chemical-right ul li {
  position: relative;
  display: inline-block;
  width: 285px;
  height: 183px;
  padding: 0 10px;
  margin: 0 0 10px 10px;
  background: #fff;
  border: 1px solid #eee;
  -webkit-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -ms-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
}

.chemical-right ul li:hover {
  margin: -2px 0 12px 10px;
  box-shadow: 0 0 2px 2px hsla(0, 0%, 60%, .15);
}

.chemical-right li h4 {
  display: table-cell;
  width: 288px;
  height: 55px;
  font-size: 14px;
  line-height: 55px;
  text-align: center;
}

.chemical-right .chemical-detail {
  height: 110px;
  padding-top: 10px;
  border-top: 1px solid #f5f5f5;
}

.chemical-right .chemical-content {
  float: left;
  margin-left: 10px;
}

.chemical-right .chemical-content p {
  width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chemical-right .chemical-content em {
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background: #db1b1b;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  border-radius: 15%;
}

.chemical-detail a {
  float: left;
  width: 110px;
  height: 110px;
  text-align: center;
  cursor: pointer;
}

.chemical-detail a img {
  width: 100%;
  height: 100%;
}

.chemical-content p:nth-child(1) {
  line-height: 24px;
  color: #4496f9;
}

.chemical-content p:nth-child(2) {
  line-height: 24px;
  color: #db1b1b;
}

.chemical-content p:nth-child(2) span {
  font-size: 16px;
  font-weight: 700;
}

.chemical-content p:nth-child(3),
.chemical-content p:nth-child(4) {
  line-height: 20px;
  color: #666;
}

/* 农业化工 */

.agr {
  background: url(../images/chemBg2.png);
}

.oil {
  background: url(../images/chemBg3.png);
}

/* 资讯行情 */

.left {
  float: left;
  width: 230px;
  height: 190px;
  padding: 20px;
  color: #fff;
  background: url(../images/module-market.png);
  box-sizing: border-box;
}

.left .left-wrapper {
  position: relative;
}

.left .left-wrapper a {
  bottom: 8px;
  left: 10px;
}

.right {
  float: left;
  width: 950px;
  height: 100%;
  padding: 20px;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  box-sizing: border-box;
  /* height: 190px; */
}

.market-info .right {
  padding-top: 0;
  padding-bottom: 0;
}

.market-info .right ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.market-info .right ul li:hover {
  color: #4496f9;
}

.market-info .title {
  position: relative;
  padding-top: 20px;
}

.market-info .right ul li.active {
  color: #4496f9;
  border-bottom-color: #4496f9;
}

.right .title>a {
  top: 20px;
  right: 20px;
  float: right;
  width: 60px;
  height: 22px;
  line-height: 22px;
  color: #aaa;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.right .title>a:hover,
.seckill .seckill-head a:hover,
.more:hover {
  color: #ff7422;
  border-color: #ff7422;
}

/* 父级hover 给带来的颜色改变是影响不到的 如果自己已经设置了颜色 */

/* .right .title>a span,
.right .title>a i {
  font-size: 12px;
  color: #aaa;
} */

.right .title>a span:hover {
  color: #ff7422;
}

.right .content .content-list {
  display: none;
  margin-top: 20px;
  font-size: 0;
}

.right .content .content-list.active {
  display: block;
  margin-top: 20px;
  font-size: 0;
}

.market-info .right .content ul.content-list li {
  display: inline-block;
  width: 50%;
  height: 30px;
  margin-right: 0;
  font-size: 12px;
  line-height: 30px;
  color: #666;
  border-bottom: 0;
}

.market-info .right .content ul.content-list li a {
  display: inline-block;
  width: 320px;
  margin-right: 20px;
  overflow: hidden;
  color: #666;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.market-info .right .content ul.content-list li a:hover {
  color: #4496f9;
}

.market-info .right .content ul.content-list li span {
  display: inline-block;
  color: #999;
  vertical-align: middle;
}

/* 企业认证 */

.auth {
  position: relative;
  margin-top: 20px;
}

.auth a {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: inline-block;
  width: 122px;
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 2px solid #fff;
}

.auth a:hover {
  border-color: hsla(0, 0%, 100%, .6);
}

/* 交易动态 */

.pay-dynamic .wrapper .left {
  height: 192px;
  background: url(../images//module1.png);
  border-bottom: 1px solid #fff;
}

.pay-dynamic .wrapper .right {
  padding-top: 0;
  padding-bottom: 0;
}

.pay-dynamic .dynamic-content .head {
  margin-bottom: 30px;
  overflow: hidden;
  font-weight: 700;
  line-height: 40px;
  background: #f5f5f5;
}

.pay-dynamic .dynamic-content .content {
  position: relative;
  margin: 0 0 0 20px;
}

.pay-dynamic .right .head>div {
  float: left;
  height: 40px;
}

.pay-dynamic .right .content .content-wrapper span {
  float: left;
  height: 30px;
}

.pay-dynamic .right .user {
  width: 185px;
  text-indent: 65px;
}

.pay-dynamic .right .buy-content {
  width: 345px;
  margin-left: 50px;
}

.pay-dynamic .right .state {
  width: 170px;
}

.pay-dynamic .right .time {
  width: 158px;
}

.pay-dynamic .right .content .slider-icon {
  position: absolute;
  left: 8px;
  width: 24px;
  height: 110px;
  background: url(../images/sprite2.png) -375px -100px;
}

.pay-dynamic .right .dynamic-content .content .content-wrapper {
  position: relative;
  height: 120px;
  overflow: hidden;
}

.pay-dynamic .right .dynamic-content .content .content-wrapper .user {
  margin-left: -20px;
}

.pay-dynamic .right .dynamic-content .content .content-wrapper .content {
  margin: 0;
  margin-left: 41px;
}

.pay-dynamic .right .dynamic-content .content .content-wrapper .state {
  color: #f36a1a;
}

.pay-dynamic .right .dynamic-content .content .content-wrapper .time {
  margin-left: 180px;
}

/* 原料供应 */

.supply {
  position: relative;
  height: 390px;
}

.supply .left {
  background: url(../images/module3.png);
}

.left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 228px;
  height: 189px;
  text-align: center;
  background: #fff;
  border: 1px solid #eee;
}

.left-bottom img {
  width: 210px;
  height: 150px;
  margin-top: 20px;
}

.right .head h4 {
  font-size: 16px;
  line-height: 50px;
  color: #333;
  text-indent: 20px;
  border-bottom: 1px solid #eee;
}

.supply .right {
  padding-top: 0;
}

.supply .more {
  top: 15px;
  right: 20px;
}

.supply .right ul {
  overflow: hidden;
}

.supply .right ul li {
  position: relative;
  float: left;
  width: 454px;
  height: 80px;
  padding: 10px 0;
  border-bottom: 1px dashed #ddd;
  box-sizing: border-box;
}

.supply .right ul li:nth-child(odd) {
  padding-right: 20px;
}

.supply .right ul li:nth-child(even) {
  padding-left: 20px;
}

.supply .right ul li:nth-last-child(1),
.supply .right ul li:nth-last-child(2) {
  border-bottom: 0;
}

.supply .right ul li:nth-child(odd):after {
  position: absolute;
  top: 11px;
  right: 0;
  display: block;
  width: 0;
  height: 55px;
  font-size: 0;
  border-right: 1px dashed #ddd;
  content: "";
}

.supply .right ul li .name {
  position: relative;
}

.supply .right ul li .name a {
  display: inline-block;
  width: 222px;
  height: 20px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #4496f9;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.supply .right ul li .name span {
  position: absolute;
  top: 2px;
  right: 120px;
  display: inline-block;
  height: 16px;
  padding: 0 5px;
  line-height: 16px;
  color: #69abfa;
  border: 1px solid #69abfa;
  border-radius: 2px;
}

.supply .right ul li .info {
  margin-top: 18px;
  overflow: hidden;
  color: #666;
}

.supply .right ul li .info span {
  float: left;
  width: 157px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.supply .right ul li .info span.company {
  text-align: right;
}

a.see-more {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #ff7244;
  border-radius: 2px;
}

a.see-more:hover {
  background-color: #f36a1a;
}

/* 知识交易 */

.knowledge {
  position: relative;
}

.knowledge .left {
  background: url(../images/module2.png);
}

.table .thead {
  position: relative;
  left: -20px;
  width: 910px;
  padding-left: 38px;
  margin: 0 1px;
  overflow: hidden;
  font-weight: 700;
  line-height: 40px;
  background: #f5f5f5;
}

.table .tbody {
  /* padding: 0 20px; */
  overflow: hidden;
  line-height: 59px;
}

.table .tbody li {
  position: relative;
  height: 59px;
  overflow: hidden;
  color: #666;
  border-top: 1px dashed #ddd;
}

.table .tbody li:first-child {
  border-top: none;
}

.table .thead span,
.table .tbody span {
  display: inline-block;
  /* float:left; */
}

.table .thead .title {
  width: 180px;
  margin-left: -20px;
}

.table .thead .cas {
  width: 115px;
}

.table .thead .price {
  width: 105px;
  color: #333;
}

.table .thead .supp {
  width: 120px;
}

.table .thead .address {
  width: 104px;
}

.table .thead .company {
  width: 155px;
}

.table .tbody span.tit {
  width: 180px;
}

.table .tbody span.tit a {
  color: #aaa;
}

.table .tbody span.tit a:hover {
  color: #4496f9;
}

.table .tbody span.cas {
  width: 115px;
}

.table .tbody span.price {
  width: 105px;
  color: #db1b1b;
}

.table .tbody span.address {
  width: 104px;
}

.table .tbody span.weight {
  width: 120px;
}

.table .tbody span.supp {
  width: 120px;
}

.table .tbody span.company {
  width: 155px;
}

.knowledge .right {
  padding-top: 0;
  padding-bottom: 0;
}

.right .head {
  width: 950px;
  margin-left: -20px;
}

.knowledge .tbody .see-more {
  right: 0;
}

.knowledge .head .more {
  top: 15px;
  right: 20px;
}

/* 商家入驻 */

.view-more {
  right: 30px;
}

/* 奇化融 */

.keywa-finance {
  position: relative;
}

.keywa-finance .left {
  background: url(../images/module4.png);
}

.keywa-finance .right {
  width: 950px;
  height: 390px;
  padding: 5px;
  padding-left: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 媒体报道 */

.news {
  height: 300px;
  margin-top: 30px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #eee;
}

.news>h3 {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
  color: #333;
}

.news .slider {
  position: relative;
}

.news .slider i {
  position: absolute;
  top: 40px;
  font-size: 60px;
  color: #ccc;
}

.news .slider i:nth-last-child(1) {
  right: 0;
}

/* 媒体报道 */

.news .content ul li {
  position: relative;
  float: left;
  width: 1062px;
  margin: 0 50px;
}

.news .content ul {
  width: 4684px;
}

.content .info {
  float: left;
  width: 650px;
}

.content .img-wrap {
  position: relative;
  float: right;
  width: 375px;
  height: 175px;
}

.content .img-wrap img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
}

.new .slider {
  height: 175px;
}

.slider i:hover {
  color: #4496f9;
}

.slider .info>a {
  display: block;
  max-height: 60px;
  overflow: hidden;
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
  color: #000;
}

.slider .info p:nth-child(2) {
  font-size: 13px;
  line-height: 40px;
  color: #929292;
}

.slider .info p:nth-child(3) {
  height: 70px;
  overflow: hidden;
  font-size: 14px;
  line-height: 24px;
  color: #666;
}

/* 广告轮播 */

.advertise {
  height: 118px;
  margin-top: 30px;
  background: #fff;
  border: 1px solid #eee;
}

.advertise .content {
  position: relative;
  width: 1090px;
  height: 80px;
  margin: 30px 27px auto;
  overflow: hidden;
}
.advertise .content ul{
  position: absolute;
}
.advertise .content ul li {
  float: left;
  /* width: 272px; */
  height: 64px;
}
.advertise .content ul li a {
  float:left;
  margin:0 33px;
}
.advertise .content ul li img {
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  max-width: 272px;
  max-height: 64px;
  margin: auto;
}

/* 底部 */

footer {
  position: relative;
  z-index: 100;
  padding-bottom: 120px;
  margin-top: 40px;
  font-size: 12px;
  background: #fff;
}

footer .border-top {
  width: 100%;
  height: 9px;
  background: url(../images/footer-bor.jpg) repeat;
  border-top: 1px solid #eee;
}

footer .content {
  height: 180px;
  padding-top: 28px;
  padding-bottom: 20px;
}

footer .content dl {
  float: left;
  width: 237px;
}

footer .content dl dt {
  height: 38px;
  font-size: 14px;
  font-weight: bolder;
  color: #666;
}

footer .content dl dd a {
  position: relative;
  display: block;
  height: 24px;
  overflow: hidden;
  line-height: 24px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer .content dl dd a.download,
footer .content dl dd a:hover {
  color: #4496f7;
  cursor: pointer;
}

footer .content dl dd p:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
  color: #4496f9;
}

footer .content dl dd p:nth-child(2) {
  position: relative;
  overflow: hidden;
  line-height: 24px;
  color: #a7a7a7;
}

footer .content dl dd p:nth-child(3) {
  position: relative;
  margin-top: 5px;
  overflow: hidden;
  line-height: 24px;
  color: #a7a7a7;
}

footer .content dl dd p:nth-child(3) a {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding-left: 0;
  margin-right: 10px;
  background-image: url(../images/sprite.png);
}

footer .content dl dd p:nth-child(3) a:nth-child(1) {
  background-position: -90px -99px;
}

footer .content dl dd p:nth-child(3) a:nth-child(2) {
  background-position: -118px -99px;
}

footer .content dl dd p:nth-child(3) a:nth-child(3) {
  background-position: -150px 0px;
}

footer .content .content-r div {
  display: inline-block;
}

footer .content .content-r div:nth-child(2) {
  margin-left: 10px;
}

footer .content .content-r img {
  width: 110px;
  height: 110px;
  margin-bottom: 5px;
  border: 1px solid #eee;
  box-sizing: border-box;
}

footer .content .content-r p {
  color: #666;
}

footer .friend {
  display: none;
  width: 1190px;
  height: 26px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
  line-height: 26px;
  border: 1px solid #ddd;
}

footer .friend ul li {
  display: inline-block;
  margin-right: 20px;
}

footer .friend ul li a {
  color: #999;
}

footer .link {
  width: 1190px;
  padding-top: 10px;
  margin: 0 auto;
  line-height: 30px;
  color: #a9a9a9;
  text-align: center;
}

footer .link a {
  padding: 0 14px;
  color: #999;
}

footer .link a:hover {
  color: #4496f9;
}

footer .copyright {
  font-size: 12px;
  line-height: 26px;
  color: #c1c1c1;
  text-align: center;
}

footer .copyright a {
  padding: 10px;
  color: #c1c1c1;
}

footer .copyright>span>span {
  color: #ff7422;
}

footer .copyright a:nth-child(3) {
  color: #4496f9;
}

footer .copyright img {
  position: relative;
  top: 6px;
  width: 14px;
}

footer .auth-img {
  margin-top: 26px;
  text-align: center;
}

footer .auth-img a {
  display: inline-block;
  width: 90px;
  height: 30px;
}

footer .auth-img a img {
  width: 100%;
  height: 100%;
}

/* 右边悬浮层 */

.right-bar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 600;
  background: #fff;
  border-left: 6px solid #4496f9;
}

.right-bar .tab {
  position: absolute;
  top: 50%;
  left: -35px;
  margin-top: -75px;
}

.right-bar .tab a {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  margin-top: 2px;
  color: #fff;
  text-align: center;
  background: #4496f9;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.right-bar i {
  position: relative;
  z-index: 60;
  display: block;
  width: 33px;
  height: 35px;
  padding-right: 2px;
  font-size: 26px;
  color: #fff;
  background-color: #4496f9;
  border-radius: 4px 0 0 4px;
}

.right-bar .tab .tips {
  position: absolute;
  top: 0;
  right: -94px;
  z-index: 1;
  width: 84px;
  height: 35px;
  padding-left: 10px;
  line-height: 35px;
  color: #fff;
  text-align: left;
  border-radius: 4px 0 0 4px;
  -webkit-transition: right .3s ease-in-out 0s;
  transition: right .3s ease-in-out 0s;
}

.right-bar .tab a:hover .tips {
  right: 0;
  background: #4496f9;
}

.right-bar .tab .code-wrapper {
  position: absolute;
  top: 0;
  right: 5px;
  width: 100px;
  padding: 10px 38px 0 10px;
  background-color: #3287f1;
  border-radius: 4px 0 4px 4px;
  -webkit-transition: right .3s ease-in-out 0s;
  -moz-transition: right .3s ease-in-out 0s;
  -ms-transition: right .3s ease-in-out 0s;
  -o-transition: right .3s ease-in-out 0s;
  transition: right .3s ease-in-out 0s;
}

.right-bar .tab .code-wrapper img {
  width: 100px;
  height: 100px;
}

.right-bar .tab .code-wrapper p {
  line-height: 30px;
}

.right-bar .back-top {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  margin-top: 2px;
  color: #fff;
  text-align: center;
  background-color: #4496f9;
  border-radius: 4px 0 0 4px;
  transition: right .3s ease-in-out 0s;
}

.right-bar .back-top:hover {
  background-color: #3287f1;
}

/* 左边楼梯 */

.left-floor {
  position: fixed;
  left: 0%;
  z-index: 600;
  font-size: 12px;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.left-floor ul li {
  color: #4496f9;
  background-color: #f0f7ff;
  border: 1px solid #e4f1ff;
  border-bottom: none;
}

.left-floor ul li:hover,
.left-floor ul li.on {
  color: #fff;
  background-color: #4496f9;
  transition: background-color .1s;
}

.left-floor ul li a span:hover {
  color: #fff;
}

.left-floor ul li a {
  display: block;
  width: 24px;
  padding: 5px 7px 6px;
  overflow: hidden;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color .1s;
  transition: color .1s;
}

.left-floor ul li a span {
  color: #4496f9;
}

/* 用户登录 */

.login {
  position: relative;
  z-index: 999;
}

.login-wrapper {
  position: absolute;
  top: 200px;
  right: 10%;
  width: 250px;
  height: 320px;
  background: #fff;
  /*opacity: .4;*/
}

.login-wrapper .login-content {
  width: 234px;
  height: 304px;
  background: #fff;
}

.login-content .login-head {
  padding: 30px 0 20px 40px;
  background-image: url(../images/sprite2.png);
  background-position: -375px 0px;
  border-bottom: 1px solid #eee;
}

.login-content .login-head .avtar {
  float: left;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.login-content .login-head>p {
  margin-left: 70px;
}

.login-content .login-head>p span:nth-child(2) {
  display: block;
  line-height: 22px;
  color: #999;
}

.login-content .login-head>p span:nth-child(1) {
  display: block;
  line-height: 22px;
  color: #333;
}

.login-content .login-head .avtar img {
  width: 100%;
  height: 100%;
}

.login-content .login-state {
  height: 40px;
  padding: 5px 0;
  background: #fafafa;
  border-bottom: 1px solid #eee;
}

.login-content .login-state a {
  float: left;
  width: 116px;
  height: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #333;
  text-align: center;
}

/*.login-content .login-state a:hover {
  color:#4496f9;
}*/

.login-content .login-state a>span {
  /*color: #333;
*/
  font-weight: 700;
  text-align: center;
}

.login-content .login-state a:nth-child(1) {
  border-right: 1px solid #eee;
}

.login .login-wrapper .login-content .login-state>a:hover {
  color: #4496f9;
}

.login .login-wrapper .login-content .login-state>a:hover i {
  color: #4496f9 !important;
}

.login-content .login-state i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -3px;
  margin-right: 5px;
  vertical-align: middle;
  background-image: url(../images/sprite2.png);
}

.login-content .login-state i.i-login {
  background-position: -484px -100px;
}

.login-content .login-state i.i-reg {
  background-position: -437px -100px;
}

.login-content .login-bottom {
  padding: 30px 0;
  overflow: hidden;
}

.login-content .login-bottom a {
  float: left;
  width: 72px;
  padding-left: 5px;
  text-align: center;
  border-right: 1px solid #eee;
}

.login-content .login-bottom a:hover i {
  margin: 0;
  -webkit-transition: margin .2s;
  transition: margin .2s;
}

.login-content .login-bottom a:hover .login-footer-1 {
  margin-bottom: 0;
  -webkit-transition: margin .2s;
  transition: margin .2s;
}

.login-content .login-bottom a:hover span {
  color: #4496f9;
}

.login-content .login-bottom a i {
  display: block;
  margin: -8px 0 8px;
  font-size: 35px;
  color: #4496f9;
}

.login-content .login-bottom .login-footer-1 {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.login-content .login-bottom .login-footer-2 {
  display: block;
  padding-left: 5px;
  color: #999;
}