/* 用户头部 */
.top{
  height: 35px;
  line-height: 35px;
  background: #f5f5f5;
  color:#aaa;
}
.top-r ul li{
  display: inline-block;
  /* border-right: 1px solid black */
}
.top-l a {
  color:#3287f1;
  margin-left:11px;
}
.top-r a{
  color:#aaa;
}
span.spacer{
  display: inline-block;
}
.icon-en{
  display: inline-block;
  width: 21px;
  height: 14px;
  background: url(../images/sprite.png) -150px -60px;
}
.spacer{
  width:1px;
  height: 10px;
  background: #ccc;
  margin: 11px 5px 0;
}
.icon-en{
  vertical-align: middle;
  margin-right: 11px;
}
/* 网站头部 */
header{
  position: relative;
  height: 100px;
  background: #fff;
}
.logo img{
  width: 215px;
  margin-top: 10px;
}
.search{
  position: absolute;
  top:21px;
  left: 348px;
  width: 550px;
  height:33px;
  border:2px solid #3287f1;

}
.search .hot-search {
  height:32px;
  line-height: 32px;
  color:#999;

}
.hot-search a{
  color:#aaa;
}
header .cart {
  position: absolute;
  top:32px;
  right: 0;
  width: 148px;
  height: 36px;
  color:#aaa;
}
.icon-cart {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 20px;
  height: 18px;
  background-image: url(../images//sprite.png);
  background-position: -150px -28px;
}
.icon-cart-arrow{
  position: absolute;
    top: 14px;
    right: 10px;
    width: 6px;
    height: 10px;
    background-image: url(../images//sprite.png);
    background-position: -170px -28px;
}
.cart a{
  display: block;
  position: relative;
  height: 34px;
  line-height: 34px;
  z-index: 1024;
  text-indent: 40px;
  background: #fff;
  border: 1px solid #ddd;
  color: #aaa;
}
.cart .num {
    display: inline-block;
  position: absolute;
    top: 1px;
    left: 108px;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
    text-indent: 0;
}
.in-search{
  display: flex;
}
.in-search input{
  text-indent:10px;
  width:472px;
  height: 29px;
  border: 0;
}
.in-search button{
  width:78px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  background: #3287f1;
  font-size: 16px;
  color: #fff;
}

/* 导航列表 */
.nav {
  position: relative;
}
nav .menu {
  position: relative;
  z-index:100;
    float: left;
    width: 212px;
    height: 42px;
    background: #3287f1;
    cursor: pointer;
}
nav .menu div {
  line-height: 42px;
  text-indent: 16px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.menu div i{
  margin-right: 10px;
}
nav ul {
  width: 974px;
  height: 40px;
  margin-left: 216px;
}
nav ul li {
  display: inline-block;
  padding: 0 28px;
    margin-right: 8px;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 16px;
}
nav ul li a.active {
  font-weight: 700;
}
nav ul li a.active, nav ul li a:hover {
  text-decoration: none;
  color: #3287f1;
}
.nav::after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #287adf;
  content:"";
  
}
ul.list {
  position: absolute;
  width: 212px;
  height: 400px;
  background: rgba(27,35,45,.8);
}
.list li dl{
  width:170px;
  height: 57px;
  width: 170px;
  overflow: hidden;
  margin: 0 15px;
}
.list dl dt {
  padding-top: 7px;
  width: 170px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
}
.list dl dd {
  line-height: 22px;
    height: 22px;
  border-bottom: 1px solid hsla(0,0%,100%,.1);

}
.list dl dd a {
  display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: #fff;
}
.list-content {
  position: relative;
}
ul.list-content li {
  position: absolute;
  top: 0;
  left: 210px;
  /* display: none; */
  width: 980px;
  height: 398px;
  background: #fff;
  border-right: 2px solid #287adf;
  border-bottom: 2px solid #287adf;
}
.list-item {
  position: relative;
  z-index: 100;
  width: 720px;
}
.list-item dl {
  position: relative;
    padding-left: 135px;
    padding-right: 10px;
}
.list-item dl dt {
  position: absolute;
  top: 12px;
  left: 0;
  width: 130px;
  text-align: right;
  font-weight: 700;
  float: left;
  width: 130px;
}
.list-item dl dd {
  padding: 10px 0;
  border-top: 1px solid #eee;
  min-height: 25px;
}
.list-item dl dd a {
  float: left;
    margin: 4px 0;
    padding: 0 10px;
    height: 16px;
    border-left: 1px solid #e0e0e0;
    line-height: 16px;
    white-space: nowrap;
    color: #666;
}
.list-goods {
  position: absolute;
    top: 0;
    right: 0;
  width:240px;
  z-index: 200;
    padding: 9px;
    height: 380px;
    width: 240px;
    background: #f7f7f7;
}
.list-goods ul li {
  position: relative;
  left: 0;
    padding: 0 20px;
    height: 190px;
    width: 200px;
    background: #fff;
    border: 0;
}
.list-goods ul li span.price {
  position: absolute;
  top: 52px;
  left: 22px;
  color: #ff2626;
  font-size: 16px;
}
.list-goods ul li a.name {
    position: absolute;
    top: 12px;
    left: 22px;
  width: 196px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-size: 14px;
    color: #7f7f7f;
}
.list-goods ul li a.link {
  position: absolute;
  right: 20px;
  bottom: 12px;
}
/* 限时抢购 */
.seckill {
  position: relative;
  top:420px;
 
}
.seckill .seckill-head {
  position: relative;
}
.seckill .seckill-head h3 {
  text-indent: -200px;
  font-size: 32px;
  color: #333;
  line-height: 60px;
}
.seckill .seckill-head .kicon-shijian {
  color: #ff7422;
    font-size: 35px;
    font-weight: 700;
    margin-right: 5px;
}
.seckill .seckill-head a {
  position: absolute;
    top: 20px;
    right: 0;
    width: 60px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.seckill-content {
  overflow: hidden;
  padding-bottom: 20px;
}
.seckill .seckill-content>div{
  float: left;
}
.seckill .seckill-content .seckill-one {
  position: relative;
    padding: 20px;
    border: 5px solid #ffd5bc;
    width: 450px;
    height: 250px;
    margin-left: 0;
}
.seckill .seckill-content .seckill-two
{
  width: 333px;
    height: 298px;
    margin-left: 10px;
    background: #fff;
    border:1px solid #eee;
}
.seckill-content .seckill-one .cont {
  font-size: 20px;
  color:#999;
  margin-bottom: 5px;
}
.seckill-content .seckill-one .cut-down {
  width: 260px;
}
.seckill-content .cut-down .tag {
  font-size: 16px;
  color:#999;
}
.seckill-content  .time {
  line-height: 30px;
}

.seckill-content  .time .t {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #424242;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  margin-right: 2px;
}

.seckill-content  .time .t:after {
  position: absolute;
  top: 15px;
  left: 0;
  content: "";
  width: 30px;
  height: 0;
  border-bottom: 1px solid #424242;
}

.seckill-content  .time .t.s {
  background: #db1b1b;
}

.seckill-content  .time .t.s:after {
  border-bottom: 1px solid #db1b1b;
}

.seckill-content  .time.small {
  line-height: 24px;
}

.seckill-content  .time.small .t {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 3px;
  margin-right: 3px;
}

.seckill-content  .time.small .t:after {
  top: 12px;
  width: 24px;
}

.seckill-content .seckill-one .goods-title {
  width: 240px;
  height: 40px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}
.seckill-content .seckill-one .price {
  color:#db1b1b;
  margin:8px 0;
}
.seckill-content .seckill-one .price {
  font-size: 14px;
  font-weight: 700;
}
.seckill-content  .seckill-one .price span.cri {
  font-size: 24px;
}
.seckill-content .seckill-one .ori {
 font-weight: 400;
 color:#999;
 text-decoration: line-through;
 font-size: 12px;
}
.seckill-content .seckill-one .standard {
  position: relative;
  height: 20px;
}
.seckill-content .seckill-one .standard span{
  color:#3287f1;
  padding: 0 4px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #44a0f9;
  margin-right: 10px;
  cursor: pointer;
  background-color: #fff;
}
.seckill-content  .bar {
  padding-left:0;
  margin-top:8px;
  color:#666;
}
.seckill-content  .bar p{
  display: inline-block;
  background:#ccc;
  margin-left:10px;
  width:100px;
  height:10px;
}
/* TODO:百分比进度条 */
.seckill-content  .bar p span {
  display:block;
  color:#666;
  background:#ffd800;
  height:10px;
  width: 10px;
}
.seckill-content .seckill-one .buy-now {
  display: block;
  width: 100px;
  height: 30px;
  margin-top: 11px;
  text-align: center;
    line-height: 30px;
    border-radius: 2px;
    color: #fff;
    background:#4496f9;
    font-weight: 700;
}
.seckill-content .seckill-one .img {
  position: absolute;
  top:55px;
  right:20px;
  width:180px;
  height:180px;
}
.seckill-content .seckill-one .img a {
  display: block;position: relative;
}
.seckill-one .img a img {
  width: 100%;
  height:100%;
}
.seckill-one .img a>div {
  position: absolute;
  top:30px;
  left:30px;
  width: 120px;
  height: 120px;
  border-radius:50%;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 120px;
  background: #000;
  text-align: center;
  opacity: .3;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}
/* TODO:seckill-two */
.seckill-two {

}
.seckill-two .cut-down  {
  float: right;
  padding: 3px 10px 3px 20px;
  margin: 5px 2px 5px 0;
  background:#eee;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
}
.seckill-two .cut-down .tag {
  font-size: 12px;
}
.seckill-content .seckill-two .img {
  display: block;
  width: 140px;
  height: 140px;
  margin:40px auto 0 ;
  text-align: center;
}
.seckill-two .img  img {
  position: relative;
  right: 0;
  width: 100%;
  height: 100%;
}
.seckill-content .seckill-two .title {
  display: block;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  padding: 3px 20px;
}
.seckill-content .bottom {
  position: relative;
  bottom: 2px;
  height: 80px;
  margin: 1px;
  background: #eee;
}
.seckill-content  .bottom  .price {
  position: relative;
  color:#db1b1b;
  padding:6px 20px 4px;
  width: 225px;
}
.seckill-content  .bottom  .price span {
  font-size: 12px;
  font-weight: 700;
}
.seckill-content  .bottom  .price .ori {
  font-weight: 400;
  color:#999;
  text-decoration: line-through;
  font-size: 12px;
}
.seckill-content .seckill-two .standard {
  padding-left: 20px;
  margin-bottom: 5px;
}
.seckill-content .seckill-two .standard span {
  display: inline-block;
  padding:0 4px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #999;
  margin-right: 10px;
  cursor: pointer;
  background:#fff;
}
.seckill-content .seckill-two .standard span.active {
  color:#3287f1;
  border-color:#44a0f9;
}
.seckill-content .btn {
  position: absolute;
  top:0;
  right: 1px;
}
.seckill-content .btn div {
  position: absolute;
  top: 0;
  right:75px;
  z-index: 200;
  width:0;
  height: 0;
  border-left: 30px solid transparent;
  border-bottom:40px solid #ff7422;
  border-top:40px solid transparent;
  border-right:30px solid #ff7422;

}
.seckill-content .btn a {
  display: inline-block;
  height:80px;
  width:65px;
  text-align: right;
  padding-right: 10px;
  margin-top:0;
  line-height: 80px;
  font-size: 16px;
  color:#fff;
  font-weight: 700;
  background:#ff7422;
}