.wrapper {
  position: relative;
  width: 1190px;
  margin: 0 auto;
}
.nav {
  position: relative;
  height: auto;
}
/* 猜你想买 */
.guess {
  width: 1200px;
  padding: 0 20px;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.guess h4 {
  margin-left: 240px;
  font-weight: 400;
  border-bottom: 1px solid #ededed;
}
.guess .st {
  position: relative;
  bottom: -1px;
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
  border-bottom: 2px solid #3287f1;
}
.guess .guess-ul {
  padding: 20px 0;
  margin-left: 240px;
}
.guess .guess-ul .item {
  width: 180px;
  padding: 0 15px;
  text-align: center;
  border-left: 1px solid #ededed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.guess .guess-ul .img-wrap {
  display: block;
  width: 164px;
  height: 164px;
  margin: 0 auto 10px;
  line-height: 164px;
}
.guess .guess-ul .title {
  display: -webkit-box;
  height: 40px;
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  text-align: left;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.guess .guess-ul .price {
  font-size: 14px;
  color: #db1b1b;
}
.guess .guess-ul .img-wrap img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  line-height: normal;
  vertical-align: middle;
}
/* 当前位置 */
.cur-nav {
  width: 1170px;
  height: 40px;
  padding-left: 20px;
  overflow: hidden;
  font-size: 12px;
  line-height: 40px;
  color: #999;
  background: #fafafa;
}
.cur-nav a {
  margin-right: 10px;
  margin-left: 5px;
  color: #999;
}
.cur-nav a:hover {
  color: #4496f9;
}
/* 商品展示 */
.goods .img-left {
  position: relative;
  float: left;
  width: 420px;
  height: 535px;
}
.goods .img-left .img {
  position: relative;
  float: left;
  width: 420px;
  height: 420px;
}
.goods .img-left .img i {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 64px;
  height: 59px;
  background-image: url(../images/sprite1.png);
  background-position: 0px 0px;
}
.goods .img-big img {
  max-width: 420px;
  max-height: 420px;
  vertical-align: middle;
}
.goods .img-small {
  position: relative;
  height: 90px;
  margin-top: 10px;
}
.goods .img-small ul li {
  float: left;
  width: 78px;
  height: 78px;
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
}
.goods .img-small ul li.active {
  width: 78px;
  height: 78px;
  border: 1px solid #b0d3ff;
}
.goods .img-small img {
  width: 78px;
  height: 78px;
}
.goods .collect {
  position: absolute;
  bottom: 0;
  height: 20px;
  padding-top: 15px;
  line-height: 20px;
  color: #a3a3a3;
  cursor: pointer;
}
.goods .collect span {
  float: left;
}
.goods .collect .no {
  margin-left: 20px;
}
.goods .collect i {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-right: 4px;
  background-image: url(../images/sprite1.png);
  background-position: -78px -44px;
}
.goods .info-right {
  float: right;
  width: 695px;
  padding: 0 0 0 35px;
  margin-top: -20px;
}
.goods .info-right .info-head {
  position: relative;
  width: 665px;
  padding: 15px 0 15px 30px;
  overflow: hidden;
  vertical-align: middle;
  background: #daeaff;
}
.goods .info-right .info-content {
  width: 695px;
  height: 88px;
  background: #f5f9ff;
}
.goods .info-right .info-detail {
  width: 695px;
  height: 488px;
  padding: 10px 0 20px;
  border-left: 1px solid #f4f9ff;
}
.info-right .info-head .self {
  float: left;
  width: 50px;
  height: 18px;
  padding: 0 5px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background: #3287f1;
  border-radius: 5%;
}
.info-right .info-head .title-container {
  float: left;
  width: 450px;
}
.info-right .info-head .title-container h3 {
  height: auto;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #333;
  word-wrap: break-word;
  border: none;
}
.info-right .info-head .title-container p {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 14px;
  color: #3287f1;
}
.info-right .info-head .title-container p a {
  color: #3287f1;
}
.info-right .info-head .company-img {
  display: block;
  float: right;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background: #fff;
}
.info-right .info-head .company-img img {
  width: 135pxpx;
  height: 40px;
}
.info-right .info-content {
  position: relative;
  width: 695px;
  height: 88px;
  background: #f5f9ff;
  border-bottom: 1px solid #d8eaff;
}
.info-right .info-content .price-title {
  display: inline-block;
  height: 40px;
  padding: 26px 0 0 63px;
  font-size: 12px;
  color: #aeaeae;
}
.info-right .info-content .price-title span {
  display: inline-block;
  line-height: normal;
  vertical-align: bottom;
}
.info-right .info-content .price-title a {
  margin-left: 20px;
  color: #3287f1;
}
.info-right .info-content .price-title .keywa-price {
  margin-right: 15px;
}
.info-right .info-content .price-title .yuan {
  font-size: 14px;
  line-height: 14px;
  color: #d82828;
}
.info-right .info-content .price-title .price {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  color: #dd3738;
}
.info-right .info-content .price-title .unit {
  font-size: 14px;
  line-height: 14px;
  color: #d82828;
}
.info-right .info-content .price-title .icon-kefu {
  display: inline-block;
  width: 15px;
  height: 14px;
  margin-left: 5px;
  background-image: url(../images/sprite1.png);
  background-position: -15px -59px;
}
.info-right .info-content .weight {
  position: absolute;
  top: 15px;
  right: 0;
  width: 145px;
  height: 60px;
  line-height: 60px;
  color: #1070ec;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #d8eaff;
}
.info-right .info-content .weight p:nth-child(1) {
  height: 40px;
  line-height: 40px;
  color: #1070ec;
}
.info-right .info-content .weight p:nth-child(2) {
  font-size: 12px;
  line-height: 0;
  color: #888;
  text-align: center;
}
.info-right .info-content .weight .num {
  font-size: 16px;
  line-height: 22px;
}
.info-right .seckill {
  height: 40px;
  padding-left: 128px;
  line-height: 40px;
  color: #888;
  background: #f5f9ff;
}
.info-right .seckill span:nth-child(1) {
  width: 35px;
  height: 22px;
  padding: 0 5px;
  color: #d82828;
  border: 1px solid #d82828;
  border-radius: 10%;
}
.info-right .seckill span:nth-child(2) {
  padding: 0 5px;
}
.info-right .seckill a {
  color: #1070ec;
}
.info-right .info-detail ul {
  margin-top: 10px;
  font-size: 13px;
  color: #929292;
}
.info-right .info-detail ul li {
  min-height: 20px;
  padding-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 18px;
}
.info-right .info-detail ul li span:nth-child(1) {
  float: left;
  width: 100px;
  color: #999;
  text-align: right;
}
.info-right .info-detail ul li em {
  margin-left: 20px;
  font-size: 12px;
  color: #333;
}
.info-right .info-detail ul li .tips {
  margin-left: 20px;
  color: #2cb4ff;
  cursor: pointer;
}
.info-right .info-detail ul li .icon-tips {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: -3px;
  margin-right: 5px;
  vertical-align: middle;
  background-image: url(../images/sprite1.png);
  background-position: -78px -30px;
}
.info-right .info-detail ul li .bulk {
  padding: 0 5px;
  color: #3287f1;
  text-align: center;
  border: 1px solid #3287f1;
}
.info-right .info-detail ul li .in {
  float: left;
  width: 92px;
  height: 25px;
  padding: 0;
  font-size: 15px;
  line-height: 25px;
  color: #777;
  text-align: center;
  border: none;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
.info-right .info-detail ul li a {
  float: left;
  width: 27px;
  height: 25px;
  font-family: arial;
  font-size: 18px;
  line-height: 25px;
  color: #777;
  text-align: center;
  border: 1px solid #cecece;
}
.info-right .info-detail ul li p {
  width: 500px;
  margin-left: 122px;
}
.info-right .info-detail ul li .unit {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  color: #333;
}
.info-right .info-detail ul li span.blue {
  float: none;
  width: auto;
  color: #3287f1;
}
.info-right .info-detail ul li em.red {
  font-size: 12px;
  font-weight: 700;
  color: #de3838;
}
.info-right .info-detail ul li em.red span {
  float: none;
  font-size: 18px;
  font-weight: 700;
  color: #de3838;
}
.info-right .info-detail .cart-btn {
  position: relative;
  height: 40px;
  padding-bottom: 25px;
  margin-top: 35px;
  border-bottom: 1px solid #f4f9ff;
}
.info-right .info-detail .cart-btn .buy-now {
  display: inline-block;
  width: 180px;
  height: 29px;
  padding-top: 12px;
  margin-right: 10px;
  margin-left: 120px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background: #4496f9;
}
.info-right .info-detail .cart-btn .buy-now:hover {
  background: #3287f1;
}
.info-right .info-detail .cart-btn .add-cart {
  display: inline-block;
  width: 178px;
  height: 28px;
  padding-top: 10px;
  color: #4496f9;
  background: #fff;
  border: 1px solid #4496f9;
}
.info-right .info-detail .cart-btn .add-cart:hover {
  color: #3287f1;
  border: 1px solid #3287f1;
}
.info-right .info-detail .cart-btn .add-cart span {
  display: block;
  margin-top: -27px;
  margin-left: 65px;
  font-size: 16px;
  line-height: 16px;
}
.info-right .info-detail .cart-btn .kicon-cart-filled {
  display: inline-block;
  margin-top: -8px;
  margin-left: 35px;
  font-size: 20px;
  font-size: 26px;
}
.info-right .info-detail .marks {
  padding: 18px 0 0 42px;
}
.info-right .info-detail .marks ul li > span {
  float: left;
  margin-right: 18px;
  font-size: 14px;
  color: #999;
}
.info-right .info-detail .marks ul li > span em {
  padding: 0 5px;
  margin-left: 0;
  color: #3a893a;
}
.info-right .info-detail .marks .mark {
  display: inline-block;
  height: 18px;
  margin-right: 10px;
  overflow: hidden;
  line-height: 20px;
  cursor: default;
  border-radius: 2px;
}
.info-right .info-detail .marks .bill {
  color: #3a893a;
  border: 1px solid #3a893a;
}
.info-right .info-detail .marks .bill i {
  color: #fff;
  background-color: #3a893a;
}
.info-right .info-detail .marks .trunk {
  color: #3287f1;
  border: 1px solid #3287f1;
}
.info-right .info-detail .marks .trunk i {
  color: #fff;
  background-color: #3287f1;
  border: 1px solid #3287f1;
}
.info-right .info-detail .marks .trunk em {
  color: #3287f1;
}
.info-right .info-detail .marks .pay {
  color: #ff7422;
  border: 1px solid #ff7422;
}
.info-right .info-detail .marks .pay i {
  color: #fff;
  background-color: #ff7422;
  border: 1px solid #ff7422;
}
.info-right .info-detail .marks .pay em {
  color: #ff7422;
}
.rel-goods {
  float: left;
  width: 200px;
  padding: 0 10px;
  margin-top: 20px;
  background: #fff;
}
.rel-goods h4 {
  width: 400px;
  height: 39px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
.rel-goods h4 span {
  display: inline-block;
  margin-top: -1px;
  font-size: 16px;
  line-height: 39px;
  color: #333;
  border-bottom: 2px solid #3287f1;
}
.rel-goods ul li {
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px dashed #eee;
}
.rel-goods ul li:nth-last-child(1) {
  border-bottom: 0;
}
.rel-goods ul li a:nth-child(2) {
  display: block;
  display: -webkit-box;
  max-height: 38px;
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.rel-goods ul li p {
  font-size: 14px;
  line-height: 28px;
  color: #db1b1b;
}
.rel-goods ul li img {
  display: block;
  max-width: 140px;
  max-height: 140px;
  margin: 15px auto;
}
.goods-details {
  float: right;
  width: 910px;
  padding: 0 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background: #fff;
}
.goods-details h4 {
  width: 400px;
  height: 39px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
.goods-details h4 span {
  display: inline-block;
  margin-top: -1px;
  font-size: 16px;
  line-height: 39px;
  color: #333;
  border-bottom: 2px solid #3287f1;
}
.goods-details .details ul li {
  float: left;
  line-height: 32px;
}
.goods-details .details ul li p {
  display: inline-block;
}
.goods-details .details ul li p a.undownload {
  color: #ddd;
  cursor: default;
  background: #f1f1f1;
  border-color: #ddd;
}
.goods-details .details ul li p a {
  display: inline-block;
  width: 80px;
  height: 20px;
  margin: 0 5px;
  line-height: 20px;
  color: #3287f1;
  text-align: center;
  border: 1px solid #8ebbf3;
  border-radius: 1px;
}
.goods-details .details .p50 {
  width: 50%;
}
.goods-details .details .p25 {
  width: 25%;
}
.goods-details .introduce P {
  color: #666;
}
.goods-details .introduce .details-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 64px;
  color: #333;
}
.goods-details .table {
  margin-top: 20px;
}
.goods-details .table ul {
  width: 888px;
  border: 1px solid #cacaca;
  border-bottom: 0;
}
.goods-details .table ul li {
  display: border-box;
  float: left;
  line-height: 28px;
  text-indent: 10px;
  border-bottom: 1px solid #cacaca;
}
.goods-details .table .name,
.goods-details .table .val {
  display: border-box;
  float: left;
  height: 28px;
}
.goods-details .table .name {
  width: 200px;
  background: #f2f2f2;
  border-right: 1px solid #cacaca;
}
.goods-details .table .val {
  width: 240px;
  text-align: left;
  text-indent: 10px;
}
.goods-details .table .green {
  background: #ddecff;
}
