.nav {
  height: auto;
}

.wrapper {
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  width: 1200px;
  margin: 0 auto;
}

/* 热销商品 */

.hot-goods {
  height: 140px;
  margin-bottom: 20px;
}

.goods-content {
  position: relative;
  margin-bottom: 16px;
  margin-top: 25px;
  padding: 10px 0 10px 74px;
  width: 1200px;
  height: 140px;
  background: #fff;
  border: 1px solid #f3f3f3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.goods-content .img {
  position: absolute;
  z-index: 3;
  top: -3px;
  left: 2px;
  width: 62px;
  height: 85px;
  background-image: url(../images/sprite-goods.png);
  background-position: 0px 0px;
}

.goods-content .list li {
  display: inline-block;
  position: relative;
  width: 274px;
  height: 120px;
}

.goods-content .list .right .title {
  margin-top: 10px;
  display: block;
  line-height: 18px;
  max-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 14px;
  color: #333;
}

.goods-content .list .right .title:hover {
  color: #4496f9
}

.goods-content .list .right .price {
  line-height: 14px;
  color: #db1b1b;
  font-size: 14px;
  margin: 4px 0 10px;
}

.goods-content .list .right .buy {
  display: inline-block;
  width: 62px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  background: #f6f6f6;
  border-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #666;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.goods-content .list .left img {
  width: 100px;
  height: 100px;
}

.goods-content .list .right {
  width: 140px;
}

/* 筛选条件 */

.filiter .check-head {
  padding: 8px 20px;
  background: #f1f1f1;
}

.label {
  border: 1px solid #ccc;
  line-height: 12px;
  padding: 3px 26px 3px 10px;
  font-size: 12px;
  cursor: pointer;
}

.label .close {
  position: absolute;
  font-style: normal;
  margin-top: -11px;
  top: 50%;
  right: 0;
  width: 20px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
}

.filiter .filiter-name {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #333;
  width: 75px;
  line-height: 24px;
}

.filter .line-checked .label {
  margin-right: 10px;
}

.label.lb-static {
  position: relative;
  cursor: text;
  background: #fff;
  padding-right: 22px;
  display: inline-block;
  height: 16px;
  border: 1px solid #ccc;
  line-height: 12px;
  padding: 3px 26px 3px 10px;
  font-size: 12px;
}

.label.lb-static .tips {
  vertical-align: text-bottom;
  color: #333;
  padding-right: 3px;
  line-height: 16px;
  display: inline-block;
  height: 16px;
}

.filiter .check-line {
  padding: 15px 20px;
  background: #fff;
  border-top: 1px solid #eee;
}

.check-wrap .category-ul {
  width: 1010px;
}

.check-wrap .category-ul li {
  height: 25px;
  line-height: 25px;
  float: left;
  padding: 0 10px;
  cursor: pointer;
}

.check-wrap .category-ul li:hover {
  color: #4496f9;
}

.check-wrap .category-ul li.active {
  background: #4496f9;
  color: #fff;
}

/* TODO:.active */

.filiter .btn-all.active {
  background: #4496f9;
  color: #fff;
  border-color: #4496f9;
  margin-right: 0;
}

.filiter .btn-all {
  width: 46px;
  height: 25px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}

.draw-btn {
  cursor: pointer;
  margin-left: 25px;
}

.draw-btn:hover {
  color: #ff7422;
}

.draw-btn:hover .i-wrap {
  border-color: #ff7422;
}

.draw-btn .more {
  display: inline-block;
  vertical-align: middle;
}

.draw-btn .up {
  display: none;
}

.draw-btn .i-wrap {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 18px;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-left: 6px;
  text-align: center;
}

.icon-dg {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 9px;
  background-image: url(../images/sprite-goods.png);
  background-position: -62px -75px;
}

.check-wrap {
  width: 940px;
}

.label,
.label .tips {
  display: inline-block;
  height: 16px;
}

.label .ipt {
  border: none;
  width: 54px;
  vertical-align: top;
}

.in-l {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  border-bottom: 1px solid #ccc;
  margin: 0 2px;
}

.gd-btn,
.icon-dg {
  display: inline-block;
}

.gd-btn {
  padding: 0 8px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #555;
  vertical-align: top;
  cursor: pointer;
}

.filiter .check-line .gd-btn {
  height: 22px;
  line-height: 22px;
  border-color: #e4e4e4;
  margin-left: 5px;
}

/* 排序头 */

.sort-nav {
  position: relative;
  z-index: 1;
  background: #f1f1f1;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sort-nav .nav-line {
  padding: 8px 12px;
}

.sort-nav .normal {
  float: left;
  margin-right: 38px;
  background: #fff;
}

.label-wrap {
  float: left;
  margin-right: 30px;
}

.sort-nav .pager {
  position: absolute;
  width: 230px;
  right: 20px;
  height: 26px;
  line-height: 26px;
  font-size: 13px;
  color: #666;
}

.sort-nav .normal span.cur {
  background: #3287f1;
  color: #fff;
  border-color: #3287f1;
  margin-right: -1px;
  z-index: 10;
}

.sort-nav .normal span {
  position: relative;
  float: left;
  width: 50px;
  text-align: center;
  margin-left: -1px;
  height: 25px;
  line-height: 23px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}

.sort-nav .normal span:first-child {
  margin-left: 0;
}

.sort-nav .normal span.cur {
  background: #3287f1;
  color: #fff;
  border-color: #3287f1;
  margin-right: -1px;
  z-index: 10;
}

.label-wrap {
  float: left;
  margin-right: 30px;
}

.label-wrap label {
  cursor: pointer;
}

.label-wrap .tag-ziying .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 14px;
  height: 14px;
  background-image: url(../images/sprite-goods.png);
  background-position: -94px -43px;
  background-color: #fff;
}

.label-wrap .name {
  height: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  color: #666;
}

.sort-nav .pager {
  position: absolute;
  width: 230px;
  right: 20px;
  height: 26px;
  line-height: 26px;
  font-size: 13px;
  color: #666;
}

.sort-nav .pager .total {
  display: inline-block;
  padding-right: 20px;
  font-size: 12px;
}

.sort-nav .pager .cur-page {
  padding-left: 12px;
}

.sort-nav .pager .wrap {
  position: absolute;
  right: 0;
  top: 0;
}

.sort-nav .pager .page-btn {
  float: left;
  height: 24px;
  border: 1px solid #cacaca;
  text-align: center;
  line-height: 24px;
  color: #cdcdcd;
  font-size: 16px;
  cursor: pointer;
  padding: 0 20px;
  font-family: 宋体;
  font-weight: 700;
}

/* 商品列表 */

.goods-ul {
  margin-right: -25px;
  padding-top: 3px;
  position: relative;
  z-index: 0;
}

.goods-list li {
  display: block;
  float: left;
  width: 240px;
  height: 400px;
  margin-bottom: 20px;
  padding: 12px;
  text-align: left;
  border: 1px solid #f3f3f3;
  border-left: none;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.goods-list li:hover {
  position: relative;
  /* 定位提高层级影子TODO: */
  z-index: 10;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, .1);
  border-right: none;
}

.goods-list .img-wrap {
  position: relative;
  display: block;
  height: 214px;
  width: 214px;
  line-height: 214px;
  text-align: center;
}

.goods-list .img-wrap img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.goods-ul .goods-title {
  height: 74px;
  margin-top: 10px;
}

.goods-ul .price .fav-tags {
  margin-left: 10px;
  height: 18px;
  line-height: 18px;
  left: 11px;
  display: inline-block;
  background: #db1b1b;
  color: #fff;
  border-radius: 7%;
  text-align: center;
  font-size: 16px;
  width: 18px;
}

.goods-ul .goods-title a {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  color: #6b6a6a;
}

.goods-ul .goods-title a:hover {
  color: #4496f9;
}

.goods-ul .price {
  color: #db1b1b;
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  border-top: 1px solid #ededed;
  padding-top: 10px;
}

.goods-ul .price .asyn-price {
  display: inline-block;
  vertical-align: top;
  height: 18px;
  line-height: 18px;
}

.goods-ul .sell {
  line-height: 16px;
  color: #b7b7b7;
}

.goods-ul .sell .volume {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 12px;
  height: 12px;
  color: #aaa;
}

.goods-list .sell .volume span {
  padding: 0 3px;
  color: #666;
}

.goods-ul .sell .self-tag {
  float: right;
  display: inline-block;
  padding: 0;
  overflow: hidden;
  width: 52px;
  height: 14px;
  line-height: 12px;
  color: #ff7244;
  border: 1px solid #ff7244;
  text-align: center;
  border-radius: 3px;
}

.goods-ul .sub-title {
  display: block;
  color: #4496f9;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  margin-top: 8px;
  margin-bottom: 12px;
}

/* 分页导航 */

.pagination-wrap {
  text-align: right;
}

.pagination {
  display: inline-block;
  margin-top: 0;
  margin: 20px 0;
  height: 38px;
}

.pagination .current {
  float: left;
  padding: 0 14px;
  height: 36px;
  border: 1px solid #dadada;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  margin-right: 1px;
  color: #8a8a8a;
  cursor: pointer;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  padding: 0;
  border-color: #eee;
  margin-left: 3px;
}

.pagination .num,
.pagination .next,
.pagination .end {
  float: left;
  padding: 0 14px;
  height: 36px;
  border: 1px solid #dadada;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  margin-right: 1px;
  color: #8a8a8a;
  cursor: pointer;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  padding: 0;
  border-color: #eee;
  margin-left: 3px;
}

.pagination .current,
.pagination a:hover,
.pagination span:hover {
  background: #4496f9;
  color: #fff;
}

/* 猜你想买 */

.guess {
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  padding: 0 20px;
}

.guess h4 {
  border-bottom: 1px solid #ededed;
  font-weight: 400;
}

.guess .st {
  display: inline-block;
  position: relative;
  bottom: -1px;
  font-size: 16px;
  line-height: 40px;
  border-bottom: 2px solid #3287f1;
}

.guess .guess-ul {
  padding: 20px 0;
  margin-left: -20px;
  width: 1400px;
}

.guess .guess-ul .item {
  width: 200px;
  border-left: 1px solid #ededed;
  padding: 0 15px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.guess .guess-ul .img-wrap {
  display: block;
  width: 164px;
  height: 164px;
  line-height: 164px;
  margin: 0 auto 10px;
}

.guess .guess-ul .title {
  text-align: left;
  color: #666;
  line-height: 20px;
  height: 40px;
  font-size: 12px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.guess .guess-ul .price {
  color: #db1b1b;
  font-size: 14px;
}

.guess .guess-ul .img-wrap img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  line-height: normal;
}